@media screen and (max-width: 1400px) {
  header .header-heading h2 {
    font-size: 28px;
  }
  header .header-heading span {
    font-size: 50px;
  }
}

@media screen and (max-width: 1280px) {
  header {
    height: 700px;
  }
  header .header-heading h2 {
    font-size: 25px;
  }
  header .header-heading span {
    font-size: 40px;
  }
  header .header-heading-button img {
    width: 80%;
  }
  header .header-heading-button p {
    font-size: 13px;
    -webkit-transform: translate(-25px, 2px);
            transform: translate(-25px, 2px);
  }
  header .header-img {
    right: 0;
    height: 90%;
  }
}

@media screen and (max-width: 1000px) {
  header {
    height: 500px;
  }
  header .header-heading h2 {
    font-size: 23px;
  }
  header .header-heading span {
    font-size: 30px;
  }
  header .header-heading-button img {
    width: 75%;
  }
  header .header-heading-button p {
    font-size: 12px;
    -webkit-transform: translate(-35px, 2px);
            transform: translate(-35px, 2px);
  }
  header .header-img {
    height: 65%;
  }
  nav .container .menu li a {
    font-size: 13px;
  }
}

@media screen and (max-width: 800px) {
  header {
    height: 400px;
  }
  header .header-heading h2 {
    padding-top: 50px;
    font-size: 15px;
  }
  header .header-heading span {
    font-size: 30px;
  }
  header .header-heading .header-heading-button {
    margin-top: 30px;
  }
  header .header-heading .header-heading-button img {
    width: 60%;
    height: 90%;
  }
  header .header-heading .header-heading-button p {
    font-size: 10px;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  header .header-img {
    height: 100%;
    top: 30px;
    right: 0%;
  }
  header .header-img img {
    height: 50%;
  }
  nav .container .menu {
    position: absolute;
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: url(../img/logo.png) no-repeat top center;
    background-size: 100px;
    background-color: #30283d;
    width: 200px;
    height: 100vh;
    top: 0px;
    left: -100%;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  nav .container .menu li {
    text-align: center;
    padding: 20px;
  }
  nav .container .menu li a {
    font-size: 15px;
    color: #fff;
  }
  nav .container .menu li:nth-child(1) {
    margin-top: 60px;
  }
  nav .header-logo #bar {
    display: block;
    position: absolute;
    right: 50px;
    font-size: 25px;
    top: 13px;
    cursor: pointer;
  }
}

@media screen and (max-width: 600px) {
  header {
    height: 350px;
  }
  header .header-heading h2 {
    padding-top: 50px;
    font-size: 15px;
  }
  header .header-heading span {
    font-size: 20px;
  }
  header .header-heading .header-heading-button {
    margin-top: 30px;
  }
  header .header-heading .header-heading-button img {
    width: 60%;
    height: 80%;
  }
  header .header-heading .header-heading-button p {
    font-size: 10px;
    -webkit-transform: translate(-50px, -5px);
            transform: translate(-50px, -5px);
  }
  header .header-img img {
    height: 45%;
  }
}

@media screen and (max-width: 450px) {
  nav {
    height: 40px;
  }
  nav .container .header-logo img {
    height: 50px;
    width: auto;
    margin-top: -5px;
  }
  header {
    height: 280px;
  }
  header .header-heading h2 {
    padding-top: 70px;
    font-size: 15px;
  }
  header .header-heading span {
    font-size: 15px;
  }
  header .header-heading .header-heading-button {
    margin-top: 30px;
  }
  header .header-heading .header-heading-button img {
    width: 50%;
    height: 60%;
  }
  header .header-heading .header-heading-button p {
    font-size: 8px;
    -webkit-transform: translate(-63px, -12px);
            transform: translate(-63px, -12px);
  }
  header .header-img {
    height: 100%;
    top: 30px;
    right: 30px;
  }
  header .header-img img {
    height: 30%;
  }
  nav .container .header-logo #bar {
    display: block;
    position: absolute;
    right: 30px;
    font-size: 25px;
    top: 5px;
    cursor: pointer;
  }
}

@media screen and (max-width: 1080px) {
  .intro {
    height: 900px;
  }
  .intro .content h2 {
    font-size: 35px;
  }
  .intro .content p {
    font-size: 18px;
  }
  .intro .intro-img iframe {
    height: 400px;
  }
}

@media screen and (max-width: 800px) {
  .intro {
    height: 750px;
  }
  .intro .content h2 {
    font-size: 25px;
  }
  .intro .content p {
    font-size: 14px;
  }
  .intro .intro-img iframe {
    height: 300px;
  }
}

@media screen and (max-width: 400px) {
  .intro {
    height: 650px;
  }
  .intro .content h2 {
    font-size: 25px;
  }
  .intro .content p {
    width: 90%;
    font-size: 14px;
  }
  .intro .intro-img iframe {
    height: 150px;
  }
}

@media screen and (max-width: 1400px) {
  .systems h2 {
    font-size: 50px;
  }
  .systems-content {
    height: 550px;
  }
  .systems-content .owl-nav {
    right: 10%;
  }
  .systems-content .owl-nav button {
    width: 35px;
    height: 35px;
  }
  .systems-content .owl-nav button span {
    font-size: 20px;
    line-height: 35px;
  }
  .systems-content .owl-dots button {
    width: 15px;
  }
}

@media screen and (max-width: 1200px) {
  .systems {
    height: 750px;
  }
  .systems .systems-content-heading h2 {
    font-size: 25px;
  }
  .systems .systems-content-heading p {
    font-size: 15px;
  }
  .systems h2 {
    padding-top: 40px;
    font-size: 30px;
  }
  .systems-content {
    height: 500px;
  }
  .systems-content .owl-nav {
    bottom: 100px;
    right: 10%;
  }
  .systems-content .owl-nav button {
    width: 28px;
    height: 28px;
  }
  .systems-content .owl-nav button span {
    font-size: 30px;
    line-height: 28px;
    display: block;
  }
  .systems-content .owl-dots {
    bottom: 100px;
  }
  .systems-content .owl-dots button {
    width: 25px;
  }
}

@media screen and (max-width: 1000px) {
  .systems {
    height: 600px;
    background-color: #000000;
  }
  .systems-content {
    height: 400px;
  }
}

@media screen and (max-width: 800px) {
  .systems {
    height: 900px;
  }
  .systems h2 {
    font-size: 25px;
  }
  .systems-content {
    height: 750px;
  }
  .systems-content-item {
    height: 80%;
  }
  .systems-content-item img {
    position: relative;
    width: 100%;
    height: 60%;
  }
  .systems-content .owl-nav {
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  .systems-content .owl-nav button {
    width: 27px;
    height: 27px;
  }
  .systems-content .owl-nav button span {
    font-size: 20px;
    line-height: 27px;
  }
  .systems-content .owl-dots {
    display: none;
  }
  .systems-content .owl-dots button {
    width: 27px;
  }
  .systems .systems-content-heading {
    position: relative;
    left: 50px;
    top: 60px;
  }
  .systems .item img {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .systems {
    height: 900px;
  }
  .systems h2 {
    font-size: 25px;
  }
  .systems-content {
    height: 620px;
  }
  .systems-content-item {
    height: 80%;
  }
  .systems-content-item img {
    position: relative;
    width: 100%;
    height: 60%;
  }
  .systems-content .owl-nav {
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  .systems-content .owl-nav button {
    width: 30px;
    height: 30px;
  }
  .systems-content .owl-nav button span {
    font-size: 20px;
    line-height: 30px;
  }
  .systems-content .owl-dots {
    display: none;
  }
  .systems-content .owl-dots button {
    width: 20px;
  }
  .systems .systems-content-heading {
    position: relative;
    left: 50px;
    top: 60px;
  }
  .systems .item img {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .systems {
    height: 700px;
  }
  .systems h2 {
    font-size: 25px;
  }
  .systems-content {
    height: 520px;
  }
  .systems-content-item {
    height: 100%;
  }
  .systems-content-item img {
    position: relative;
    width: 100%;
    height: 60%;
  }
  .systems-content .owl-nav {
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  .systems-content .owl-nav button {
    width: 30px;
    height: 30px;
  }
  .systems-content .owl-nav button span {
    font-size: 20px;
    line-height: 30px;
  }
  .systems-content .owl-dots {
    display: none;
  }
  .systems-content .owl-dots button {
    width: 20px;
  }
  .systems .systems-content-heading {
    position: relative;
    left: 50px;
    top: 60px;
  }
  .systems .item img {
    width: 90%;
  }
}
/*# sourceMappingURL=responsive.css.map */